*.obj
*.tlog
*.pdb
*.log
*.lastbuildstate
openframeworksLib_debug.lib
openframeworksDebug.a
openframeworks.a
*.cache
*.db
*.opendb
*.ilk
*.exe
*.exp
bin/*.lib
openFrameworksCompiled/

# xcode user project files
*.pbxuser
*.perspectivev3
xcuserdata
*.mode1*v3


# custom
process/
projectGenerator/
*.app/
debug/